{% extends 'layout.html' %}
<head>
    {% block extraheads %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/QnA/list.css' %}">
    {% endblock %}
</head>
{% block content %}

<section class="QnA-section">
    <div class="title-wrap">
        <div class="title">질문 게시판</div>
        <div class="q-sorting">
            <span>최신 순</span>
            <span>조회 순</span>
            <span>공감 많은 순</span>
            <span>댓글 많은 순</span>
        </div>
    </div>
    <div class="q-wrap">
    {% for q in questions %}
        <div class="each-q">
            <a href="{% url 'QnA:QnA-detail' q.id %}">
                <div class="q-title-wrap">
                    <div class="q-title">{{ q.title }}</div>
                    {% if q.picked_answer %}
                    <div class="q-picked-true">답변 채택 완료</div>
                    {% else %}
                    <div class="q-picked-false">답변 채택 전</div>
                    {% endif %}
                </div>
                <div class="q-content-wrap">
                    <div>{{ q.content }}</div>
                </div>
                <div class="q-info-wrap">
                    <div>개수 | 나라 | {{ q.created_at }}</div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}