{% extends 'layout.html' %}
<head>
    {% block extraheads %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/QnA/questionCreate.css' %}">
    {% endblock %}
</head>

{% block content %}
<div class="q-create-page">
    <div class="main-title">질문 작성하기</div>
    <div class="q-form">
        <form action="" method="post">
            {% csrf_token %}
                <div class="title-wrap">
                    <input type="text" class="title" placeholder="제목을 입력해주세요.">
                </div>

                <div class="select-option">
                    <select class="country">
                        <option>국가</option>
                    </select>
                    <select class="kind">
                        <option>유형</option>
                    </select>
                </div>

                <div class="content-wrap">
                    <input type="text" class="q-content">
                    <span>0자 / 최소 50자 이상</span>
                </div>

                <div class="q-photo-wrap">
                    <div class="sub-title">사진 첨부하기</div>
                    <div class="plus-photo">
                        <div>+</div>
                        <div></div>
                    </div>
                </div>

                <div class="q-tag-wrap">
                    <div class="sub-title"># 태그를 달아보세요</div>
                    <div class="tags"></div>
                </div>

                <div class="btn-wrap">
                    <input type="submit" value="작성하기" class="submit-btn">
                </div>
        </form>
    </div>
</div>

{% endblock %}