@use '../variables' as var;

.q-create-page {
  box-sizing: border-box;
  padding: 1rem;
}

.main-title {
  @include var.main-title();
  margin-bottom: 3rem;
}

.q-form {
  @include var.box-basic();

  > form {
    > .title-wrap {
      margin-bottom: 2rem;

      > .title {
        @include var.input-basic();
      }
    }

    > .select-option {
      display: flex;
      margin-bottom: 2rem;

      > select {
        @include var.select-basic();
        margin-right: 1rem;
      }
    }

    > .content-wrap {
      margin-bottom: 2rem;
      > input {
        @include var.input-basic();
      }
    }

    > .q-photo-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      > .plus-photo {
        display: flex;
      }
    }

    > .q-tag-wrap {
      display: flex;
      flex-direction: column;
    }

    > .submit-btn {
      @include var.btn-basic();
    }
  }
}