@mixin main-title {
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin sub-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@mixin box-basic {
  box-sizing: border-box;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid cornflowerblue;
  box-shadow: #dadada 0 4px 4px;
  border-radius: 10px;
}

@mixin input-basic {
  padding: 0.5rem;
}

@mixin select-basic {
  @include input-basic();
  cursor: pointer;
}

@mixin btn-basic {
  min-width: 80px;
  padding: 0.8rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background: lightskyblue;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}