body {
    background-color: white;
    margin: 0;
}

header {
    position: fixed;
    width: 100vw;
    height: 80px;
    top: 0;
    background-color: white;
    margin: 0;
}

.main-body {
    max-width: 600px;
    min-height: 90vh;
    background-color: white;
    margin: 20px auto 0;
}

/*예은*/

.navbar {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0rem;
    right: 0;
    z-index: 4; 
    background-color: white;
    
  }


.swindow {
    display: inline-flex;
}

.logo   {
    width: 78px;
    height: 78px;
    margin-right: 25px;
    margin-top: 19px;
}

.search_box {
    width: 565px;
    height: 60px;
    border: 2px solid rgb(164, 198, 222);
    border-radius: 5px;
    display: flex;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 113px;
}

.search_box input   {
    width: 450px;
    height: 56px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;

    text-indent: 2%;
    font-size: 18px;
}

.search_box button  {
    width: 100px;
    height: 56px;
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;

    justify-content: center;
    display: flex;
    
}

.search_box i   {
    color: lightgray;
    font-size: 22px;
    text-align: center;
}



.fa    {
    font-size: 30px;
    vertical-align: top;
    position: absolute;  

    margin-top: 5px;
}
